@use "theme" as t;

.screen {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-6);

  @include t.bp("md") {
    grid-template-columns: repeat(2, 1fr);
  }
}
