@use "select";

.field {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.label {
  font-family: var(--font-mono);
  font-size: var(--text-sm);
  color: var(--color-text);
}

.select {
  @include select.skin;
}
